body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content-area {
  width: 400px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  height: 3rem;
}

.title {
  font-size: 1rem;
  font-weight: 400;
}

.total-expense {
  font-size: 1.6rem;
  font-weight: 600;
}

.card {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  margin-top: 3.5rem;
}

.income {
  color: #041;
}

.expense {
  color: #810;
}

.border-expense {
  border-right: 7.5px solid #810;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #f3c3bc;
}

.border-income {
  border-right: 7.5px solid #041;
  box-shadow: 0 0 2 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(202, 245, 212);
}

.card-title {
  font-size: 0.8rem;
  font-weight: 400;
}

.list-group {
  border-radius: 0;
}

.list-group-item {
  position: relative;
}

.list-group-item:hover .close-button {
  display: block;
}

.close-button {
  display: none;
  font-size: 0.75rem;
  box-shadow: none;
  position: absolute;
  right: 0.2rem;
  top: 50%;
  transform: translateY(-50%);

  &:focus,
  &:active {
    box-shadow: none;
    display: block;
  }
}

.close-button[aria-lebel]:hover::before,
.close-button[aria-label]:hover::after {
  color: red;
}

.dollar-symbol {
  font-weight: 600;
}
